<%= form_for @item, :html => {:multipart => true} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Quel objet", class: "required" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :adress, "Où se trouve-t-il ?", class: "required" %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :Image, class: "required" %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
